.bar-chart {
  min-width: 70px;
  max-width: 500px;
  width: fit-content;
  height: 250px;
  border: 1px solid black;
  flex: 1;
  display: flex;
  overflow: auto;
  align-items: flex-end;
}

.bar {
  background-color: skyblue;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
